html {font-family: sans-serif; text-align: center}
body {display: inline-block; text-align: center}
label,legend {font-weight: bold}
*:required, .obligatorio {border: thin solid blue}
input [type=number], .numero {text-align: right}
br + output, footer, form em {font-size: smaller}
